@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}


<h1>@ViewData["Title"]</h1>
@{
    if (User.Identity.IsAuthenticated)
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
        </form>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>

        <p><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login</a> again, if you wish.</p>

        <p>Or, you can navigate back to the <a asp-area="" asp-page="/Index" class="btn btn-primary">Home</a> page</p>
    }
}
