@using GuniKitchen.Web.Models;
@using GuniKitchen.Web.Models.Enums;
@inject SignInManager<MyIdentityUser> SignInManager
@inject UserManager<MyIdentityUser> _userManager

@{
    var user = await _userManager.GetUserAsync(User);
}

<ul class="link" style="line-height: 2.5rem;">

    @if (SignInManager.IsSignedIn(User) && user != null)
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.DisplayName!</a>
        </li>

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Administrator.ToString()))
        {
            <li>
                <a asp-area="Manage" asp-controller="Users" asp-action="Index">Users</a>
            </li>
            <li>
                <a asp-area="Manage" asp-controller="Categories" asp-action="Index">Categories</a>
            </li>
        }

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Administrator.ToString())
             || await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Manager.ToString()))
        {
            <li>
                <a asp-area="Manage" asp-controller="Products" asp-action="Index">Products</a>
            </li>
        }

        <li>
            <form class="form-inline"
              asp-area="Identity" asp-page="/Account/Logout"
              method="post">
                <button type="submit" class="nav-link btn btn-primary">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }

</ul>
