@using GuniKitchen.Web.Models;
@inject SignInManager<MyIdentityUser> SignInManager
@inject UserManager<MyIdentityUser> UserManager

<ul class="link" style="line-height: 2.5rem;">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li>
        <form class="form-inline" 
             asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" 
             method="post" >
            <button type="submit" class="nav-link btn btn-primary">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
